* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.blog {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 100px 1fr 70px;

    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";

    gap: 20px;
}

header {
    grid-area: header;
    background: #222;
    color: white;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    gap: 20px;
}

header a {
    color: white;
    text-decoration: none;
}

aside {
    grid-area: sidebar;
    background: #eee;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

aside a {
    color: #222;
    text-decoration: none;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

article {
    padding: 30px;
    background: #f2f2f2;
}

footer {
    grid-area: footer;
    background: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .blog {
        grid-template-columns: 1fr;

        grid-template-areas:
            "header"
            "main"
            "sidebar"
            "footer";
    }

    main {
        grid-template-columns: 1fr;
    }
}